.addOn__container {
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;

  gap: 2rem;
  height: 5rem;
  margin-top: 1rem;
  padding: 1rem;
  transition: background-color 0.25s;
}

.addOn__container:first-of-type {
  margin-top: 2.5rem;
}

.addOn__container:hover {
  background-color: var(--magnolia);
}

.addOn__containerSelected {
  background-color: var(--magnolia);
  outline: 1px solid var(--purplish-blue);
}

.addOn__container input[type="checkbox"] {
  accent-color: var(--purplish-blue);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.addOn__details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.addOn__name {
  font-size: 1rem;
  font-weight: 500;
}

.addOn__description {
  color: var(--cool-gray);
  font-size: 0.8rem;
}

.addOn__price {
  color: var(--purplish-blue);
}
