.navigation__container {
  background-color: var(--white);

  display: flex;
  align-items: center;

  font-size: 1rem;
  grid-row: 11/13;
  grid-column: 2/3;

  position: relative;
}

.navigation__back {
  color: var(--cool-gray);
  cursor: pointer;

  position: absolute;
  left: 4.5rem;

  text-decoration: none;
  transition: filter 0.25s;
}

.navigation__back:hover {
  filter: brightness(0.8);
}

.navigation__button {
  background-color: var(--marine-blue);
  border-radius: 0.5rem;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  height: 3rem;
  width: 7.6rem;

  position: absolute;
  right: 4.5rem;
  transition: background-color 0.25s;
}

.navigation__button:active {
  scale: 0.98;
}

.navigation__button:hover {
  background-color: hsl(213, 98%, 32%);
}

@media (max-width: 768px) {
  .navigation__container {
    height: 4.8rem;
    width: 100%;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 10;
  }

  .navigation__back {
    left: 1rem;
  }

  .navigation__button {
    border-radius: 0.5rem;
    font-size: 0.9rem;
    height: 2.75rem;
    width: 6.5rem;
    right: 1rem;
  }
}
