.container {
  background-image: url("../assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  border-radius: 0.6rem;

  grid-row: 1/-1;
  width: 91%;
}

ul {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .container {
    background-image: url("../assets/images/bg-sidebar-mobile.svg");
    background-position: center;
    background-size: cover;
    border-radius: 0;

    height: 10.7rem;
    width: 100%;
  }
}
